<<<<<<< Updated upstream
=======
@media screen and (min-size: 600px) {
  font-size: 14px;
  margin: 20px;
  padding: 20px;
  background: url("/../../images/nyt-logo.svg") no-repeat
}
@media screen and (min-size: 1000px) {
  background: url("/../../images/nyt-logo.svg") no-repeat;
}
>>>>>>> Stashed changes
